USE [OVS]
GO
/****** Object:  Table [dbo].[OTPVOTER]    Script Date: 09/28/2015 22:01:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OTPVOTER](
	[VID] [numeric](12, 0) NULL,
	[OTP] [numeric](4, 0) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[myTable]    Script Date: 09/28/2015 22:01:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[myTable](
	[Document] [varbinary](max) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Images]    Script Date: 09/28/2015 22:01:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Images](
	[Roll_no] [varchar](12) NOT NULL,
	[img] [varbinary](max) NULL,
	[img_date] [datetime] NULL,
 CONSTRAINT [PK__Images__28B56405023D5A04] PRIMARY KEY CLUSTERED 
(
	[Roll_no] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CONSTITUENCY]    Script Date: 09/28/2015 22:01:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CONSTITUENCY](
	[CONS_ID] [numeric](3, 0) NOT NULL,
	[CONS_NAME] [varchar](20) NOT NULL,
 CONSTRAINT [PK_CONS_ID] PRIMARY KEY CLUSTERED 
(
	[CONS_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PARTY]    Script Date: 09/28/2015 22:01:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PARTY](
	[PID] [numeric](3, 0) NOT NULL,
	[PNAME] [varchar](20) NOT NULL,
	[PSYMBOL] [image] NULL,
 CONSTRAINT [PK_P_ID] PRIMARY KEY CLUSTERED 
(
	[PID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ovs_party]    Script Date: 09/28/2015 22:01:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ovs_party](
	[pid] [int] IDENTITY(1,1) NOT NULL,
	[pname] [nchar](200) NULL,
 CONSTRAINT [PK_ovs_party] PRIMARY KEY CLUSTERED 
(
	[pid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ovs_constituency]    Script Date: 09/28/2015 22:01:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ovs_constituency](
	[cons_id] [int] IDENTITY(1,1) NOT NULL,
	[cons_name] [nchar](200) NULL,
 CONSTRAINT [PK_ovs_constituency] PRIMARY KEY CLUSTERED 
(
	[cons_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VOTERINFO]    Script Date: 09/28/2015 22:01:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[VOTERINFO](
	[VID] [numeric](12, 0) NOT NULL,
	[V_NAME] [varchar](30) NOT NULL,
	[CONS_ID] [numeric](3, 0) NULL,
	[VADDRESS] [varchar](256) NULL,
	[VEMAILID] [varchar](50) NOT NULL,
	[VPASSWORD] [varchar](24) NULL,
	[PHONE_NO] [varchar](13) NULL,
	[GENDER] [varchar](7) NULL,
	[BIRTHDATE] [datetime] NULL,
	[VAGE] [numeric](18, 0) NULL,
	[PROFILE_PIC] [varbinary](max) NULL,
 CONSTRAINT [C_UID11] PRIMARY KEY CLUSTERED 
(
	[VID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ovs_candidate]    Script Date: 09/28/2015 22:01:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ovs_candidate](
	[C_ID] [numeric](3, 0) IDENTITY(1,1) NOT NULL,
	[CONS_ID] [int] NULL,
	[C_NAME] [varchar](30) NOT NULL,
	[C_AGE] [numeric](3, 0) NULL,
	[C_QUALIFICATION] [varchar](30) NOT NULL,
	[C_DESCRIPTION] [varchar](200) NULL,
	[PID] [int] NULL,
	[BIRTHDATE] [datetime] NULL,
	[EMAIL] [varchar](40) NULL,
	[GENDER] [varchar](7) NULL,
	[PHONE_NO] [varchar](13) NULL,
	[ADDRESS] [varchar](200) NULL,
 CONSTRAINT [PK_C_ID1] PRIMARY KEY CLUSTERED 
(
	[C_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CANDIDATE]    Script Date: 09/28/2015 22:01:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CANDIDATE](
	[C_ID] [numeric](3, 0) NOT NULL,
	[CONS_ID] [numeric](3, 0) NULL,
	[C_NAME] [varchar](30) NOT NULL,
	[C_AGE] [numeric](3, 0) NULL,
	[C_QUALIFICATION] [varchar](30) NOT NULL,
	[C_DESCRIPTION] [varchar](200) NULL,
	[PID] [numeric](3, 0) NULL,
	[PROFILE_PIC] [varbinary](max) NULL,
	[BIRTHDATE] [datetime] NULL,
	[EMAIL] [varchar](40) NULL,
	[GENDER] [varchar](7) NULL,
	[PHONE_NO] [varchar](13) NULL,
	[ADDRESS] [varchar](200) NULL,
 CONSTRAINT [PK_C_ID] PRIMARY KEY CLUSTERED 
(
	[C_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Check [C_C_AGE]    Script Date: 09/28/2015 22:01:26 ******/
ALTER TABLE [dbo].[CANDIDATE]  WITH CHECK ADD  CONSTRAINT [C_C_AGE] CHECK  (([c_age]>(25)))
GO
ALTER TABLE [dbo].[CANDIDATE] CHECK CONSTRAINT [C_C_AGE]
GO
/****** Object:  Check [CK_GENDER]    Script Date: 09/28/2015 22:01:26 ******/
ALTER TABLE [dbo].[CANDIDATE]  WITH CHECK ADD  CONSTRAINT [CK_GENDER] CHECK  ((upper([gender])='FEMALE' OR upper([gender])='MALE'))
GO
ALTER TABLE [dbo].[CANDIDATE] CHECK CONSTRAINT [CK_GENDER]
GO
/****** Object:  Check [C_C_AGE1]    Script Date: 09/28/2015 22:01:26 ******/
ALTER TABLE [dbo].[ovs_candidate]  WITH CHECK ADD  CONSTRAINT [C_C_AGE1] CHECK  (([c_age]>(25)))
GO
ALTER TABLE [dbo].[ovs_candidate] CHECK CONSTRAINT [C_C_AGE1]
GO
/****** Object:  Check [C_AGE]    Script Date: 09/28/2015 22:01:26 ******/
ALTER TABLE [dbo].[VOTERINFO]  WITH CHECK ADD  CONSTRAINT [C_AGE] CHECK  (([VAGE]>=(18)))
GO
ALTER TABLE [dbo].[VOTERINFO] CHECK CONSTRAINT [C_AGE]
GO
/****** Object:  Check [C_VID123]    Script Date: 09/28/2015 22:01:26 ******/
ALTER TABLE [dbo].[VOTERINFO]  WITH CHECK ADD  CONSTRAINT [C_VID123] CHECK  (([VID]>(11)))
GO
ALTER TABLE [dbo].[VOTERINFO] CHECK CONSTRAINT [C_VID123]
GO
/****** Object:  ForeignKey [C_PID]    Script Date: 09/28/2015 22:01:26 ******/
ALTER TABLE [dbo].[CANDIDATE]  WITH CHECK ADD  CONSTRAINT [C_PID] FOREIGN KEY([PID])
REFERENCES [dbo].[PARTY] ([PID])
GO
ALTER TABLE [dbo].[CANDIDATE] CHECK CONSTRAINT [C_PID]
GO
/****** Object:  ForeignKey [FK_CONS_ID]    Script Date: 09/28/2015 22:01:26 ******/
ALTER TABLE [dbo].[CANDIDATE]  WITH CHECK ADD  CONSTRAINT [FK_CONS_ID] FOREIGN KEY([CONS_ID])
REFERENCES [dbo].[CONSTITUENCY] ([CONS_ID])
GO
ALTER TABLE [dbo].[CANDIDATE] CHECK CONSTRAINT [FK_CONS_ID]
GO
/****** Object:  ForeignKey [C_PID1]    Script Date: 09/28/2015 22:01:26 ******/
ALTER TABLE [dbo].[ovs_candidate]  WITH CHECK ADD  CONSTRAINT [C_PID1] FOREIGN KEY([PID])
REFERENCES [dbo].[ovs_party] ([pid])
GO
ALTER TABLE [dbo].[ovs_candidate] CHECK CONSTRAINT [C_PID1]
GO
/****** Object:  ForeignKey [FK_CONS_ID1]    Script Date: 09/28/2015 22:01:26 ******/
ALTER TABLE [dbo].[ovs_candidate]  WITH CHECK ADD  CONSTRAINT [FK_CONS_ID1] FOREIGN KEY([CONS_ID])
REFERENCES [dbo].[ovs_constituency] ([cons_id])
GO
ALTER TABLE [dbo].[ovs_candidate] CHECK CONSTRAINT [FK_CONS_ID1]
GO
/****** Object:  ForeignKey [FK_CONS_ID111]    Script Date: 09/28/2015 22:01:26 ******/
ALTER TABLE [dbo].[VOTERINFO]  WITH CHECK ADD  CONSTRAINT [FK_CONS_ID111] FOREIGN KEY([CONS_ID])
REFERENCES [dbo].[CONSTITUENCY] ([CONS_ID])
GO
ALTER TABLE [dbo].[VOTERINFO] CHECK CONSTRAINT [FK_CONS_ID111]
GO
