/****** Object:  ForeignKey [C_PID]    Script Date: 10/27/2015 19:45:11 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[C_PID]') AND parent_object_id = OBJECT_ID(N'[dbo].[CANDIDATE]'))
ALTER TABLE [dbo].[CANDIDATE] DROP CONSTRAINT [C_PID]
GO
/****** Object:  ForeignKey [FK_CONS_ID]    Script Date: 10/27/2015 19:45:11 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CONS_ID]') AND parent_object_id = OBJECT_ID(N'[dbo].[CANDIDATE]'))
ALTER TABLE [dbo].[CANDIDATE] DROP CONSTRAINT [FK_CONS_ID]
GO
/****** Object:  ForeignKey [FK_OTPVOTER_VOTERINFO]    Script Date: 10/27/2015 19:45:12 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_OTPVOTER_VOTERINFO]') AND parent_object_id = OBJECT_ID(N'[dbo].[OTPVOTER]'))
ALTER TABLE [dbo].[OTPVOTER] DROP CONSTRAINT [FK_OTPVOTER_VOTERINFO]
GO
/****** Object:  ForeignKey [C_PID1]    Script Date: 10/27/2015 19:45:12 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[C_PID1]') AND parent_object_id = OBJECT_ID(N'[dbo].[ovs_candidate]'))
ALTER TABLE [dbo].[ovs_candidate] DROP CONSTRAINT [C_PID1]
GO
/****** Object:  ForeignKey [FK_ovs_candidate_ovs_constituency]    Script Date: 10/27/2015 19:45:12 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ovs_candidate_ovs_constituency]') AND parent_object_id = OBJECT_ID(N'[dbo].[ovs_candidate]'))
ALTER TABLE [dbo].[ovs_candidate] DROP CONSTRAINT [FK_ovs_candidate_ovs_constituency]
GO
/****** Object:  ForeignKey [FK_voted_ovs_candidate]    Script Date: 10/27/2015 19:45:12 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_voted_ovs_candidate]') AND parent_object_id = OBJECT_ID(N'[dbo].[voted]'))
ALTER TABLE [dbo].[voted] DROP CONSTRAINT [FK_voted_ovs_candidate]
GO
/****** Object:  ForeignKey [FK_voted_VOTERINFO]    Script Date: 10/27/2015 19:45:12 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_voted_VOTERINFO]') AND parent_object_id = OBJECT_ID(N'[dbo].[voted]'))
ALTER TABLE [dbo].[voted] DROP CONSTRAINT [FK_voted_VOTERINFO]
GO
/****** Object:  ForeignKey [FK_VOTERINFO_ovs_constituency]    Script Date: 10/27/2015 19:45:12 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_VOTERINFO_ovs_constituency]') AND parent_object_id = OBJECT_ID(N'[dbo].[VOTERINFO]'))
ALTER TABLE [dbo].[VOTERINFO] DROP CONSTRAINT [FK_VOTERINFO_ovs_constituency]
GO
/****** Object:  ForeignKey [WINNER_FK]    Script Date: 10/27/2015 19:45:12 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[WINNER_FK]') AND parent_object_id = OBJECT_ID(N'[dbo].[WINNER]'))
ALTER TABLE [dbo].[WINNER] DROP CONSTRAINT [WINNER_FK]
GO
/****** Object:  ForeignKey [WINNER_FK2]    Script Date: 10/27/2015 19:45:12 ******/
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[WINNER_FK2]') AND parent_object_id = OBJECT_ID(N'[dbo].[WINNER]'))
ALTER TABLE [dbo].[WINNER] DROP CONSTRAINT [WINNER_FK2]
GO
/****** Object:  Check [C_C_AGE]    Script Date: 10/27/2015 19:45:12 ******/
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[C_C_AGE]') AND parent_object_id = OBJECT_ID(N'[dbo].[CANDIDATE]'))
BEGIN
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[C_C_AGE]') AND parent_object_id = OBJECT_ID(N'[dbo].[CANDIDATE]'))
ALTER TABLE [dbo].[CANDIDATE] DROP CONSTRAINT [C_C_AGE]

END
GO
/****** Object:  Check [CK_GENDER]    Script Date: 10/27/2015 19:45:12 ******/
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CK_GENDER]') AND parent_object_id = OBJECT_ID(N'[dbo].[CANDIDATE]'))
BEGIN
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CK_GENDER]') AND parent_object_id = OBJECT_ID(N'[dbo].[CANDIDATE]'))
ALTER TABLE [dbo].[CANDIDATE] DROP CONSTRAINT [CK_GENDER]

END
GO
/****** Object:  Check [C_C_AGE1]    Script Date: 10/27/2015 19:45:12 ******/
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[C_C_AGE1]') AND parent_object_id = OBJECT_ID(N'[dbo].[ovs_candidate]'))
BEGIN
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[C_C_AGE1]') AND parent_object_id = OBJECT_ID(N'[dbo].[ovs_candidate]'))
ALTER TABLE [dbo].[ovs_candidate] DROP CONSTRAINT [C_C_AGE1]

END
GO
/****** Object:  Table [dbo].[OTPVOTER]    Script Date: 10/27/2015 19:45:12 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[OTPVOTER]') AND type in (N'U'))
DROP TABLE [dbo].[OTPVOTER]
GO
/****** Object:  Table [dbo].[voted]    Script Date: 10/27/2015 19:45:12 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[voted]') AND type in (N'U'))
DROP TABLE [dbo].[voted]
GO
/****** Object:  Table [dbo].[WINNER]    Script Date: 10/27/2015 19:45:12 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[WINNER]') AND type in (N'U'))
DROP TABLE [dbo].[WINNER]
GO
/****** Object:  Table [dbo].[CANDIDATE]    Script Date: 10/27/2015 19:45:11 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CANDIDATE]') AND type in (N'U'))
DROP TABLE [dbo].[CANDIDATE]
GO
/****** Object:  Table [dbo].[VOTERINFO]    Script Date: 10/27/2015 19:45:12 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[VOTERINFO]') AND type in (N'U'))
DROP TABLE [dbo].[VOTERINFO]
GO
/****** Object:  StoredProcedure [dbo].[Customers_GetCustomers]    Script Date: 10/27/2015 19:45:12 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Customers_GetCustomers]') AND type in (N'P', N'PC'))
DROP PROCEDURE [dbo].[Customers_GetCustomers]
GO
/****** Object:  Table [dbo].[ovs_candidate]    Script Date: 10/27/2015 19:45:12 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ovs_candidate]') AND type in (N'U'))
DROP TABLE [dbo].[ovs_candidate]
GO
/****** Object:  Table [dbo].[ovs_constituency]    Script Date: 10/27/2015 19:45:12 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ovs_constituency]') AND type in (N'U'))
DROP TABLE [dbo].[ovs_constituency]
GO
/****** Object:  Table [dbo].[ovs_party]    Script Date: 10/27/2015 19:45:12 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ovs_party]') AND type in (N'U'))
DROP TABLE [dbo].[ovs_party]
GO
/****** Object:  Table [dbo].[PARTY]    Script Date: 10/27/2015 19:45:12 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PARTY]') AND type in (N'U'))
DROP TABLE [dbo].[PARTY]
GO
/****** Object:  Table [dbo].[Images]    Script Date: 10/27/2015 19:45:12 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Images]') AND type in (N'U'))
DROP TABLE [dbo].[Images]
GO
/****** Object:  Table [dbo].[myTable]    Script Date: 10/27/2015 19:45:12 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[myTable]') AND type in (N'U'))
DROP TABLE [dbo].[myTable]
GO
/****** Object:  Table [dbo].[CONSTITUENCY]    Script Date: 10/27/2015 19:45:12 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CONSTITUENCY]') AND type in (N'U'))
DROP TABLE [dbo].[CONSTITUENCY]
GO
/****** Object:  Default [DF_OTPVOTER_Time]    Script Date: 10/27/2015 19:45:12 ******/
IF  EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_OTPVOTER_Time]') AND parent_object_id = OBJECT_ID(N'[dbo].[OTPVOTER]'))
Begin
IF  EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_OTPVOTER_Time]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[OTPVOTER] DROP CONSTRAINT [DF_OTPVOTER_Time]
END


End
GO
/****** Object:  Role [##MS_PolicyEventProcessingLogin##]    Script Date: 10/27/2015 19:45:12 ******/
DECLARE @RoleName sysname
set @RoleName = N'##MS_PolicyEventProcessingLogin##'
IF  EXISTS (SELECT * FROM sys.database_principals WHERE name = @RoleName AND type = 'R')
Begin
	DECLARE @RoleMemberName sysname
	DECLARE Member_Cursor CURSOR FOR
	select [name]
	from sys.database_principals 
	where principal_id in ( 
		select member_principal_id 
		from sys.database_role_members 
		where role_principal_id in (
			select principal_id
			FROM sys.database_principals where [name] = @RoleName  AND type = 'R' ))

	OPEN Member_Cursor;

	FETCH NEXT FROM Member_Cursor
	into @RoleMemberName

	WHILE @@FETCH_STATUS = 0
	BEGIN

		exec sp_droprolemember @rolename=@RoleName, @membername= @RoleMemberName

		FETCH NEXT FROM Member_Cursor
		into @RoleMemberName
	END;

	CLOSE Member_Cursor;
	DEALLOCATE Member_Cursor;
End
GO
IF  EXISTS (SELECT * FROM sys.database_principals WHERE name = N'##MS_PolicyEventProcessingLogin##' AND type = 'R')
DROP ROLE [##MS_PolicyEventProcessingLogin##]
GO
/****** Object:  Role [##MS_PolicyEventProcessingLogin##]    Script Date: 10/27/2015 19:45:12 ******/
IF NOT EXISTS (SELECT * FROM sys.database_principals WHERE name = N'##MS_PolicyEventProcessingLogin##')
BEGIN
IF NOT EXISTS (SELECT * FROM sys.database_principals WHERE name = N'##MS_PolicyEventProcessingLogin##' AND type = 'R')
CREATE ROLE [##MS_PolicyEventProcessingLogin##] AUTHORIZATION [dbo]

END
GO
/****** Object:  Table [dbo].[CONSTITUENCY]    Script Date: 10/27/2015 19:45:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CONSTITUENCY]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[CONSTITUENCY](
	[CONS_ID] [numeric](3, 0) NOT NULL,
	[CONS_NAME] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
 CONSTRAINT [PK_CONS_ID] PRIMARY KEY CLUSTERED 
(
	[CONS_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
INSERT [dbo].[CONSTITUENCY] ([CONS_ID], [CONS_NAME]) VALUES (CAST(1 AS Numeric(3, 0)), N'Ahemdabad')
INSERT [dbo].[CONSTITUENCY] ([CONS_ID], [CONS_NAME]) VALUES (CAST(2 AS Numeric(3, 0)), N'Baroda')
INSERT [dbo].[CONSTITUENCY] ([CONS_ID], [CONS_NAME]) VALUES (CAST(3 AS Numeric(3, 0)), N'Rajkot')
/****** Object:  Table [dbo].[myTable]    Script Date: 10/27/2015 19:45:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[myTable]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[myTable](
	[Document] [varbinary](max) NULL
)
END
GO
/****** Object:  Table [dbo].[Images]    Script Date: 10/27/2015 19:45:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Images]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Images](
	[Roll_no] [varchar](12) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[img] [varbinary](max) NULL,
	[img_date] [datetime] NULL,
 CONSTRAINT [PK__Images__28B56405023D5A04] PRIMARY KEY CLUSTERED 
(
	[Roll_no] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
/****** Object:  Table [dbo].[PARTY]    Script Date: 10/27/2015 19:45:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PARTY]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[PARTY](
	[PID] [numeric](3, 0) NOT NULL,
	[PNAME] [varchar](20) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[PSYMBOL] [image] NULL,
 CONSTRAINT [PK_P_ID] PRIMARY KEY CLUSTERED 
(
	[PID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
INSERT [dbo].[PARTY] ([PID], [PNAME], [PSYMBOL]) VALUES (CAST(2 AS Numeric(3, 0)), N'Congress', NULL)
INSERT [dbo].[PARTY] ([PID], [PNAME], [PSYMBOL]) VALUES (CAST(3 AS Numeric(3, 0)), N'bsp', NULL)
/****** Object:  Table [dbo].[ovs_party]    Script Date: 10/27/2015 19:45:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ovs_party]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ovs_party](
	[pid] [int] IDENTITY(1,1) NOT NULL,
	[pname] [nchar](200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
 CONSTRAINT [PK_ovs_party] PRIMARY KEY CLUSTERED 
(
	[pid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
SET IDENTITY_INSERT [dbo].[ovs_party] ON
INSERT [dbo].[ovs_party] ([pid], [pname]) VALUES (1, N'BJP                                                                                                                                                                                                     ')
INSERT [dbo].[ovs_party] ([pid], [pname]) VALUES (2, N' CONGRESS                                                                                                                                                                                               ')
INSERT [dbo].[ovs_party] ([pid], [pname]) VALUES (3, N' BSP                                                                                                                                                                                                    ')
SET IDENTITY_INSERT [dbo].[ovs_party] OFF
/****** Object:  Table [dbo].[ovs_constituency]    Script Date: 10/27/2015 19:45:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ovs_constituency]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ovs_constituency](
	[cons_id] [int] IDENTITY(1,1) NOT NULL,
	[cons_name] [nchar](200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
 CONSTRAINT [PK_ovs_constituency] PRIMARY KEY CLUSTERED 
(
	[cons_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
SET IDENTITY_INSERT [dbo].[ovs_constituency] ON
INSERT [dbo].[ovs_constituency] ([cons_id], [cons_name]) VALUES (1, N'Ahemdabad                                                                                                                                                                                               ')
INSERT [dbo].[ovs_constituency] ([cons_id], [cons_name]) VALUES (2, N'Baroda                                                                                                                                                                                                  ')
INSERT [dbo].[ovs_constituency] ([cons_id], [cons_name]) VALUES (3, N'Rajkot                                                                                                                                                                                                  ')
SET IDENTITY_INSERT [dbo].[ovs_constituency] OFF
/****** Object:  Table [dbo].[ovs_candidate]    Script Date: 10/27/2015 19:45:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ovs_candidate]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ovs_candidate](
	[C_ID] [numeric](3, 0) IDENTITY(1,1) NOT NULL,
	[CONS_ID] [int] NULL,
	[C_NAME] [varchar](30) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[C_AGE] [numeric](3, 0) NULL,
	[C_QUALIFICATION] [varchar](30) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[C_DESCRIPTION] [varchar](200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[PID] [int] NULL,
	[BIRTHDATE] [datetime] NULL,
	[EMAIL] [varchar](40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[GENDER] [varchar](7) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[PHONE_NO] [varchar](13) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ADDRESS] [varchar](200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
 CONSTRAINT [PK_C_ID1] PRIMARY KEY CLUSTERED 
(
	[C_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
SET IDENTITY_INSERT [dbo].[ovs_candidate] ON
INSERT [dbo].[ovs_candidate] ([C_ID], [CONS_ID], [C_NAME], [C_AGE], [C_QUALIFICATION], [C_DESCRIPTION], [PID], [BIRTHDATE], [EMAIL], [GENDER], [PHONE_NO], [ADDRESS]) VALUES (CAST(1 AS Numeric(3, 0)), 3, N'sdf', NULL, N'', N'', 5, CAST(0x000055E100000000 AS DateTime), N'ridd@sd.com', NULL, N'1234567890', N'63662 New Castle Junction')
INSERT [dbo].[ovs_candidate] ([C_ID], [CONS_ID], [C_NAME], [C_AGE], [C_QUALIFICATION], [C_DESCRIPTION], [PID], [BIRTHDATE], [EMAIL], [GENDER], [PHONE_NO], [ADDRESS]) VALUES (CAST(2 AS Numeric(3, 0)), 2, N'Emily Stewart', NULL, N'CA', N'', 4, CAST(0x0000648000000000 AS DateTime), N'estewart1@hexun.com', NULL, N'9395791736', N'8 Almo Circle')
INSERT [dbo].[ovs_candidate] ([C_ID], [CONS_ID], [C_NAME], [C_AGE], [C_QUALIFICATION], [C_DESCRIPTION], [PID], [BIRTHDATE], [EMAIL], [GENDER], [PHONE_NO], [ADDRESS]) VALUES (CAST(3 AS Numeric(3, 0)), 2, N'russel', NULL, N'mbbs', N'asd', 5, CAST(0x00006BFE00000000 AS DateTime), N'sdh@gh.com', NULL, N'9865986598', N'ring road')
SET IDENTITY_INSERT [dbo].[ovs_candidate] OFF
/****** Object:  StoredProcedure [dbo].[Customers_GetCustomers]    Script Date: 10/27/2015 19:45:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Customers_GetCustomers]') AND type in (N'P', N'PC'))
BEGIN
EXEC dbo.sp_executesql @statement = N'CREATE PROCEDURE [dbo].[Customers_GetCustomers]
AS
BEGIN
      SET NOCOUNT ON;
 
      SELECT *
      FROM [dbo].ovs_party
END
' 
END
GO
/****** Object:  Table [dbo].[VOTERINFO]    Script Date: 10/27/2015 19:45:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[VOTERINFO]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[VOTERINFO](
	[VID] [numeric](12, 0) NOT NULL,
	[V_NAME] [varchar](30) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[CONS_ID] [int] NULL,
	[VADDRESS] [varchar](256) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[VEMAILID] [varchar](50) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[VPASSWORD] [varchar](24) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[PHONE_NO] [varchar](13) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[GENDER] [varchar](7) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[BIRTHDATE] [datetime] NULL,
	[VAGE] [numeric](18, 0) NULL,
	[PROFILE_PIC] [varbinary](max) NULL,
	[attempt] [numeric](18, 0) NULL,
 CONSTRAINT [C_UID11] PRIMARY KEY CLUSTERED 
(
	[VID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
INSERT [dbo].[VOTERINFO] ([VID], [V_NAME], [CONS_ID], [VADDRESS], [VEMAILID], [VPASSWORD], [PHONE_NO], [GENDER], [BIRTHDATE], [VAGE], [PROFILE_PIC], [attempt]) VALUES (CAST(200012367893 AS Numeric(12, 0)), N'Wayne Phillips', 10, N'12 Mesta Point', N'riddhisoni1324@gmail.com', N'svkLRj9nYEgZo7gWDJD5IQ==', N'9425368910', N'female', NULL, NULL, NULL, CAST(2 AS Numeric(18, 0)))
INSERT [dbo].[VOTERINFO] ([VID], [V_NAME], [CONS_ID], [VADDRESS], [VEMAILID], [VPASSWORD], [PHONE_NO], [GENDER], [BIRTHDATE], [VAGE], [PROFILE_PIC], [attempt]) VALUES (CAST(200015961235 AS Numeric(12, 0)), N'Gregory Carr', 2, N'25 School Trail', N'gcarr4@amazon.com', N'mELirpUhRYksFj7k8/XBcQ==', N'9623568910', N'female', NULL, NULL, NULL, CAST(1 AS Numeric(18, 0)))
INSERT [dbo].[VOTERINFO] ([VID], [V_NAME], [CONS_ID], [VADDRESS], [VEMAILID], [VPASSWORD], [PHONE_NO], [GENDER], [BIRTHDATE], [VAGE], [PROFILE_PIC], [attempt]) VALUES (CAST(201212121212 AS Numeric(12, 0)), N'bhavita', 2, N'varsia', N'bhavitalalwani@gmail.com', N'mEzZBKPOkXLjMUDj1TaO/Q==', N'9000000000', N'female', NULL, NULL, NULL, CAST(1 AS Numeric(18, 0)))
/****** Object:  Table [dbo].[CANDIDATE]    Script Date: 10/27/2015 19:45:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CANDIDATE]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[CANDIDATE](
	[C_ID] [numeric](3, 0) NOT NULL,
	[CONS_ID] [numeric](3, 0) NULL,
	[C_NAME] [varchar](30) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[C_AGE] [numeric](3, 0) NULL,
	[C_QUALIFICATION] [varchar](30) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[C_DESCRIPTION] [varchar](200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[PID] [numeric](3, 0) NULL,
	[PROFILE_PIC] [varbinary](max) NULL,
	[BIRTHDATE] [datetime] NULL,
	[EMAIL] [varchar](40) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[GENDER] [varchar](7) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[PHONE_NO] [varchar](13) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
	[ADDRESS] [varchar](200) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
 CONSTRAINT [PK_C_ID] PRIMARY KEY CLUSTERED 
(
	[C_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
INSERT [dbo].[CANDIDATE] ([C_ID], [CONS_ID], [C_NAME], [C_AGE], [C_QUALIFICATION], [C_DESCRIPTION], [PID], [PROFILE_PIC], [BIRTHDATE], [EMAIL], [GENDER], [PHONE_NO], [ADDRESS]) VALUES (CAST(1 AS Numeric(3, 0)), CAST(3 AS Numeric(3, 0)), N'Cheryl Walla', CAST(63 AS Numeric(3, 0)), N'ICW', NULL, CAST(5 AS Numeric(3, 0)), NULL, NULL, N'cwallace00@asd.com', N'Male', N'9206912351', N'63662 New Castle Junction')
INSERT [dbo].[CANDIDATE] ([C_ID], [CONS_ID], [C_NAME], [C_AGE], [C_QUALIFICATION], [C_DESCRIPTION], [PID], [PROFILE_PIC], [BIRTHDATE], [EMAIL], [GENDER], [PHONE_NO], [ADDRESS]) VALUES (CAST(2 AS Numeric(3, 0)), CAST(2 AS Numeric(3, 0)), N'Emily Stewart', CAST(67 AS Numeric(3, 0)), N'CA', NULL, CAST(4 AS Numeric(3, 0)), NULL, NULL, N'estewart1@hexun.com', N'Male', N'9395791736', N'8 Almo Circle')
INSERT [dbo].[CANDIDATE] ([C_ID], [CONS_ID], [C_NAME], [C_AGE], [C_QUALIFICATION], [C_DESCRIPTION], [PID], [PROFILE_PIC], [BIRTHDATE], [EMAIL], [GENDER], [PHONE_NO], [ADDRESS]) VALUES (CAST(3 AS Numeric(3, 0)), CAST(2 AS Numeric(3, 0)), N'russel', CAST(26 AS Numeric(3, 0)), N'mbbs', N'asd', CAST(5 AS Numeric(3, 0)), NULL, NULL, N'sdh@gh.com', N'Male', N'9865986598', N'ring road')
/****** Object:  Table [dbo].[WINNER]    Script Date: 10/27/2015 19:45:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[WINNER]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[WINNER](
	[C_ID] [numeric](3, 0) NULL,
	[CONS_ID] [int] NOT NULL,
	[C_NAME] [varchar](30) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
 CONSTRAINT [C_PK_CONS_ID] PRIMARY KEY CLUSTERED 
(
	[CONS_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON)
)
END
GO
/****** Object:  Table [dbo].[voted]    Script Date: 10/27/2015 19:45:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[voted]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[voted](
	[Vid] [numeric](12, 0) NULL,
	[Cid] [numeric](3, 0) NULL
)
END
GO
INSERT [dbo].[voted] ([Vid], [Cid]) VALUES (CAST(200015961235 AS Numeric(12, 0)), CAST(2 AS Numeric(3, 0)))
/****** Object:  Table [dbo].[OTPVOTER]    Script Date: 10/27/2015 19:45:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[OTPVOTER]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[OTPVOTER](
	[VID] [numeric](12, 0) NULL,
	[OTP] [numeric](4, 0) NULL,
	[Time] [datetime] NULL
)
END
GO
INSERT [dbo].[OTPVOTER] ([VID], [OTP], [Time]) VALUES (CAST(200012367893 AS Numeric(12, 0)), CAST(8179 AS Numeric(4, 0)), CAST(0x0000A53E012319DD AS DateTime))
INSERT [dbo].[OTPVOTER] ([VID], [OTP], [Time]) VALUES (CAST(200015961235 AS Numeric(12, 0)), CAST(7760 AS Numeric(4, 0)), CAST(0x0000A53E0136094D AS DateTime))
INSERT [dbo].[OTPVOTER] ([VID], [OTP], [Time]) VALUES (CAST(200012367893 AS Numeric(12, 0)), CAST(3409 AS Numeric(4, 0)), CAST(0x0000A53E013643CC AS DateTime))
/****** Object:  Default [DF_OTPVOTER_Time]    Script Date: 10/27/2015 19:45:12 ******/
IF Not EXISTS (SELECT * FROM sys.default_constraints WHERE object_id = OBJECT_ID(N'[dbo].[DF_OTPVOTER_Time]') AND parent_object_id = OBJECT_ID(N'[dbo].[OTPVOTER]'))
Begin
IF NOT EXISTS (SELECT * FROM dbo.sysobjects WHERE id = OBJECT_ID(N'[DF_OTPVOTER_Time]') AND type = 'D')
BEGIN
ALTER TABLE [dbo].[OTPVOTER] ADD  CONSTRAINT [DF_OTPVOTER_Time]  DEFAULT (getdate()) FOR [Time]
END


End
GO
/****** Object:  Check [C_C_AGE]    Script Date: 10/27/2015 19:45:12 ******/
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[C_C_AGE]') AND parent_object_id = OBJECT_ID(N'[dbo].[CANDIDATE]'))
ALTER TABLE [dbo].[CANDIDATE]  WITH CHECK ADD  CONSTRAINT [C_C_AGE] CHECK  (([c_age]>(25)))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[C_C_AGE]') AND parent_object_id = OBJECT_ID(N'[dbo].[CANDIDATE]'))
ALTER TABLE [dbo].[CANDIDATE] CHECK CONSTRAINT [C_C_AGE]
GO
/****** Object:  Check [CK_GENDER]    Script Date: 10/27/2015 19:45:12 ******/
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CK_GENDER]') AND parent_object_id = OBJECT_ID(N'[dbo].[CANDIDATE]'))
ALTER TABLE [dbo].[CANDIDATE]  WITH CHECK ADD  CONSTRAINT [CK_GENDER] CHECK  ((upper([gender])='FEMALE' OR upper([gender])='MALE'))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CK_GENDER]') AND parent_object_id = OBJECT_ID(N'[dbo].[CANDIDATE]'))
ALTER TABLE [dbo].[CANDIDATE] CHECK CONSTRAINT [CK_GENDER]
GO
/****** Object:  Check [C_C_AGE1]    Script Date: 10/27/2015 19:45:12 ******/
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[C_C_AGE1]') AND parent_object_id = OBJECT_ID(N'[dbo].[ovs_candidate]'))
ALTER TABLE [dbo].[ovs_candidate]  WITH CHECK ADD  CONSTRAINT [C_C_AGE1] CHECK  (([c_age]>(25)))
GO
IF  EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[C_C_AGE1]') AND parent_object_id = OBJECT_ID(N'[dbo].[ovs_candidate]'))
ALTER TABLE [dbo].[ovs_candidate] CHECK CONSTRAINT [C_C_AGE1]
GO
/****** Object:  ForeignKey [C_PID]    Script Date: 10/27/2015 19:45:11 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[C_PID]') AND parent_object_id = OBJECT_ID(N'[dbo].[CANDIDATE]'))
ALTER TABLE [dbo].[CANDIDATE]  WITH CHECK ADD  CONSTRAINT [C_PID] FOREIGN KEY([PID])
REFERENCES [dbo].[PARTY] ([PID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[C_PID]') AND parent_object_id = OBJECT_ID(N'[dbo].[CANDIDATE]'))
ALTER TABLE [dbo].[CANDIDATE] CHECK CONSTRAINT [C_PID]
GO
/****** Object:  ForeignKey [FK_CONS_ID]    Script Date: 10/27/2015 19:45:11 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CONS_ID]') AND parent_object_id = OBJECT_ID(N'[dbo].[CANDIDATE]'))
ALTER TABLE [dbo].[CANDIDATE]  WITH CHECK ADD  CONSTRAINT [FK_CONS_ID] FOREIGN KEY([CONS_ID])
REFERENCES [dbo].[CONSTITUENCY] ([CONS_ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_CONS_ID]') AND parent_object_id = OBJECT_ID(N'[dbo].[CANDIDATE]'))
ALTER TABLE [dbo].[CANDIDATE] CHECK CONSTRAINT [FK_CONS_ID]
GO
/****** Object:  ForeignKey [FK_OTPVOTER_VOTERINFO]    Script Date: 10/27/2015 19:45:12 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_OTPVOTER_VOTERINFO]') AND parent_object_id = OBJECT_ID(N'[dbo].[OTPVOTER]'))
ALTER TABLE [dbo].[OTPVOTER]  WITH CHECK ADD  CONSTRAINT [FK_OTPVOTER_VOTERINFO] FOREIGN KEY([VID])
REFERENCES [dbo].[VOTERINFO] ([VID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_OTPVOTER_VOTERINFO]') AND parent_object_id = OBJECT_ID(N'[dbo].[OTPVOTER]'))
ALTER TABLE [dbo].[OTPVOTER] CHECK CONSTRAINT [FK_OTPVOTER_VOTERINFO]
GO
/****** Object:  ForeignKey [C_PID1]    Script Date: 10/27/2015 19:45:12 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[C_PID1]') AND parent_object_id = OBJECT_ID(N'[dbo].[ovs_candidate]'))
ALTER TABLE [dbo].[ovs_candidate]  WITH CHECK ADD  CONSTRAINT [C_PID1] FOREIGN KEY([PID])
REFERENCES [dbo].[ovs_party] ([pid])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[C_PID1]') AND parent_object_id = OBJECT_ID(N'[dbo].[ovs_candidate]'))
ALTER TABLE [dbo].[ovs_candidate] CHECK CONSTRAINT [C_PID1]
GO
/****** Object:  ForeignKey [FK_ovs_candidate_ovs_constituency]    Script Date: 10/27/2015 19:45:12 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ovs_candidate_ovs_constituency]') AND parent_object_id = OBJECT_ID(N'[dbo].[ovs_candidate]'))
ALTER TABLE [dbo].[ovs_candidate]  WITH CHECK ADD  CONSTRAINT [FK_ovs_candidate_ovs_constituency] FOREIGN KEY([CONS_ID])
REFERENCES [dbo].[ovs_constituency] ([cons_id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_ovs_candidate_ovs_constituency]') AND parent_object_id = OBJECT_ID(N'[dbo].[ovs_candidate]'))
ALTER TABLE [dbo].[ovs_candidate] CHECK CONSTRAINT [FK_ovs_candidate_ovs_constituency]
GO
/****** Object:  ForeignKey [FK_voted_ovs_candidate]    Script Date: 10/27/2015 19:45:12 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_voted_ovs_candidate]') AND parent_object_id = OBJECT_ID(N'[dbo].[voted]'))
ALTER TABLE [dbo].[voted]  WITH CHECK ADD  CONSTRAINT [FK_voted_ovs_candidate] FOREIGN KEY([Cid])
REFERENCES [dbo].[ovs_candidate] ([C_ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_voted_ovs_candidate]') AND parent_object_id = OBJECT_ID(N'[dbo].[voted]'))
ALTER TABLE [dbo].[voted] CHECK CONSTRAINT [FK_voted_ovs_candidate]
GO
/****** Object:  ForeignKey [FK_voted_VOTERINFO]    Script Date: 10/27/2015 19:45:12 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_voted_VOTERINFO]') AND parent_object_id = OBJECT_ID(N'[dbo].[voted]'))
ALTER TABLE [dbo].[voted]  WITH CHECK ADD  CONSTRAINT [FK_voted_VOTERINFO] FOREIGN KEY([Vid])
REFERENCES [dbo].[VOTERINFO] ([VID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_voted_VOTERINFO]') AND parent_object_id = OBJECT_ID(N'[dbo].[voted]'))
ALTER TABLE [dbo].[voted] CHECK CONSTRAINT [FK_voted_VOTERINFO]
GO
/****** Object:  ForeignKey [FK_VOTERINFO_ovs_constituency]    Script Date: 10/27/2015 19:45:12 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_VOTERINFO_ovs_constituency]') AND parent_object_id = OBJECT_ID(N'[dbo].[VOTERINFO]'))
ALTER TABLE [dbo].[VOTERINFO]  WITH CHECK ADD  CONSTRAINT [FK_VOTERINFO_ovs_constituency] FOREIGN KEY([CONS_ID])
REFERENCES [dbo].[ovs_constituency] ([cons_id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[FK_VOTERINFO_ovs_constituency]') AND parent_object_id = OBJECT_ID(N'[dbo].[VOTERINFO]'))
ALTER TABLE [dbo].[VOTERINFO] CHECK CONSTRAINT [FK_VOTERINFO_ovs_constituency]
GO
/****** Object:  ForeignKey [WINNER_FK]    Script Date: 10/27/2015 19:45:12 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[WINNER_FK]') AND parent_object_id = OBJECT_ID(N'[dbo].[WINNER]'))
ALTER TABLE [dbo].[WINNER]  WITH CHECK ADD  CONSTRAINT [WINNER_FK] FOREIGN KEY([C_ID])
REFERENCES [dbo].[ovs_candidate] ([C_ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[WINNER_FK]') AND parent_object_id = OBJECT_ID(N'[dbo].[WINNER]'))
ALTER TABLE [dbo].[WINNER] CHECK CONSTRAINT [WINNER_FK]
GO
/****** Object:  ForeignKey [WINNER_FK2]    Script Date: 10/27/2015 19:45:12 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[WINNER_FK2]') AND parent_object_id = OBJECT_ID(N'[dbo].[WINNER]'))
ALTER TABLE [dbo].[WINNER]  WITH CHECK ADD  CONSTRAINT [WINNER_FK2] FOREIGN KEY([CONS_ID])
REFERENCES [dbo].[ovs_constituency] ([cons_id])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[dbo].[WINNER_FK2]') AND parent_object_id = OBJECT_ID(N'[dbo].[WINNER]'))
ALTER TABLE [dbo].[WINNER] CHECK CONSTRAINT [WINNER_FK2]
GO
